<%- include('header') -%>

<main>
    <%- html %>
</main>

<footer class="lecture__footer">
  <button class="lecture__finish">
    Klára fyrirlestur
  </button>
  <a class="lecture__back" href="/">
    Til baka
  </a>
</footer>

<%- include('footer') -%>